$primary: #d0923f;
$secondary: #377bb5;
$header__bg: #0a5c7e;
$white: #fff;
$toTop: 40px;
$black: #000;
$lightgrey: #f0f1f7;
// $siteTitle: #3479b4;
$siteTitle: #FFFFFF;
$lightergreen: #45b29d;
$darkergrey: #d4d4d7;
$darkbrown: #7c4807;